/* Better positioning for autocompletion popup */
.ace_editor.ace_autocomplete,
.ace_dark.ace_editor.ace_autocomplete {
  box-shadow: none;
  transform: translateY(-1px);
}

/* Monospace fonts and consistent styling for snippet tooltips  */
.ace_tooltip.ace_doc-tooltip {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 12px;
  background-image: none;
  border: solid 1px;
}

.ace_tooltip.ace_doc-tooltip hr {
  border-top: solid 1px;
  border-bottom: none;
}