/* Ace overrides for better styling and minor UI fixes*/
/* Hide mobile buttons */
.ace_mobile-menu {
  display: none !important;
}

/* Fix for incorrect format string's rendering in Erlang */
.ace_line > .ace_placeholder {
  font-family: inherit;
  transform: none;
  opacity: 1;
  margin: 0;
}