{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": "60"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}