{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "44"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}