# https://editorconfig.org

# top-most EditorConfig file
root = true

# 2 space indentation by default
[**]
indent_style = space
indent_size = 2

# 4 space indentation for python files
[**.py]
indent_size = 4
