# https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[**]
indent_style = space
indent_size = 2

# 4 space indentation for python files
[**.py]
indent_size = 4
