node_modules

harbour-seabass/qml/html/
harbour-seabass/harbour-seabass.pro.user

ubports-seabass/build
ubports-seabass/html/dist
ubports-seabass/.clickable

# tmp files
*.jsc
*.qmlc
ubports-seabass/tests/data/test_write.txt
build_ubports/