node_modules
build_ubports
editor/coverage
generic/py-backend/.coverage
generic/py-backend/coverage.xml

harbour-seabass/qml/html/
harbour-seabass/qml/generic/
harbour-seabass/qml/py-backend/
harbour-seabass/qml/py-libs/
harbour-seabass/harbour-seabass.pro.user

ubports-seabass/build
ubports-seabass/html/dist
ubports-seabass/.clickable

# tmp files
.clickable
*.jsc
*.qmlc
*.pytest-cache
**/__pycache__
build-harbour-seabass-*/
ubports-seabass/tests/data/test_write.txt
