node_modules
build_ubports
editor/coverage
generic/py-backend/.coverage
generic/py-backend/coverage.xml

harbour-seabass/qml/html/
harbour-seabass/harbour-seabass.pro.user

ubports-seabass/build
ubports-seabass/html/dist
ubports-seabass/.clickable

# tmp files
*.jsc
*.qmlc
*.pytest-cache
*/__pycache__
ubports-seabass/tests/data/test_write.txt