/* reset smaller by default font-size */
.editor .cm-editor .cm-panel.cm-search .cm-textfield,
.editor .cm-editor .cm-panel.cm-search .cm-button,
.editor .cm-editor .cm-panel.cm-search label {
  font-size: 100%;
}

/* reset button styling to be more neutral */
.editor .cm-editor .cm-panel.cm-search .cm-button {
  background: transparent;
  margin-right: 0;
  border-left-width: 1px;
  height: 1.45rem;
  box-sizing: content-box;
}

.editor .cm-panel.cm-search .cm-button + .cm-button {
  border-left-width: 0;
}

/* change buttons text to icons */
.editor .cm-editor .cm-panel.cm-search .cm-button[name="next"],
.editor .cm-editor .cm-panel.cm-search .cm-button[name="prev"],
.editor .cm-editor .cm-panel.cm-search .cm-button[name="replace"],
.editor .cm-editor .cm-panel.cm-search .cm-button[name="replaceAll"] {
  font-family: codicon;
}

/* hide "select all" button */
.editor .cm-panel.cm-search .cm-button[name="select"] {
  display: none;
}

/* set spacing between button groups */
.editor .cm-panel.cm-search .cm-button + label {
  margin: 0 0 0 .6em;
}

.editor .cm-panel.cm-search label {
  vertical-align: top;
}

.editor .cm-panel.cm-search label + label {
  margin: 0;
}

.editor .cm-panel.cm-search input {
  /* 100% - 2 buttons*/
  max-width: calc(100% - 8rem);
}

/* display buttons instead of checkboxes to save space */
.editor .cm-panel.cm-search input[type="checkbox"] {
  appearance: none;
  margin: 0.1em 0 0 0;
}

.editor .cm-panel.cm-search input[type="checkbox"]::after {
  content: "";
  display: inline-block;
  font-family: codicon;
  font-size: 1rem;
  width: 1rem;
  height: 1.45rem;
  border: solid 1px #888;
  margin: .1em 0 0;
  padding: .2em 1em;
  border-radius: 1px;
  border-left-width: 1px;
}

.editor .cm-panel.cm-search input[type="checkbox"]:checked::after {
  background-color: #ccc;
}

.editor .cm-panel.cm-search input[type="checkbox"][name="case"]::after {
  content: "\eab1";
}

.editor .cm-panel.cm-search input[type="checkbox"][name="re"]::after {
  content: "\eb38";
  border-left-width: 0;
}

.editor .cm-panel.cm-search input[type="checkbox"][name="word"]::after {
  content: "\eb7e";
  border-left-width: 0;
}

@media only screen and (max-width: 480px) {
  .editor .cm-panel.cm-search label {
    display: none;
  }
}
