[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-seabass
Exec=sailfish-qml harbour-seabass
Name=Seabass

[X-Sailjail]
#Sandboxing=Disabled
Permissions=UserDirs;RemovableMedia
OrganizationName=name.milikhin
ApplicationName=Seabass
